::selection {
    background-color: #E13300;
    color: white;
}

::-moz-selection {
    background-color: #E13300;
    color: white;
}

body {
    background-color: #efefef;
    margin: 0px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 20px;
}

code,
pre {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
    overflow: hidden;
}

#container {
    max-width: 1000px;
    background: #fff;
    margin: 1% auto;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}

p {
    margin: 12px 15px 12px 15px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #D0D0D0;
    background: #f5f5f5;
}

ul li {
    display: block;
    position: relative;
    border-right: 1px solid #D0D0D0;
}

ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    background: #eaeaea;
}

ul li ul{
    display: none;
    box-shadow: 0px 5px 8px #D0D0D0;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border: 1px solid #D0D0D0;
    background: #f5f5f5;
}
ul li ul li ul{
    box-shadow: 5px 0px 8px #D0D0D0;
}
ul li:hover > ul{
    display: block;
}
ul li ul li{
    border-right: none;
}
ul li ul li a{
    padding: 10px;
}
ul li ul li a:hover{
    background: #e1e1e1;
}
ul li ul li:not(:last-child){
    border-bottom: 1px solid #D0D0D0;
}
ul li ul li ul{
    left: 100%;
    top: 0;
    position: absolute;
}

div.content {
    padding: 20px;
}

table {
    width: 100%;
}

table td:first-child {
    text-align: right;
    width: 15%;
    min-width: 100px;
    color: #000;
    font-weight: bold;
}

table td {
    padding: 5px;
}

.d-flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

form input {
    display: block;
    padding: 10px;
}

.logo {
    max-width: 100px;
    margin: 3px;
    max-height: 55px;
    float: right;
}

.user {
    text-align: center;
}

.user img {
    max-width: 100px;
    margin: 3px;
    max-height: 55px;
    
}
.form_upload {
    height: 100%;
    border: 1px solid #D0D0D0;
    background: #f5f5f5;
}